.wrapper {
    height: 100%;
    background-image: url("https://fondosmil.co/fondo/65196.jpg");
    width: 100%;
    max-width: 1920px;
    min-height: 877px;
    margin: auto;
    padding: 15px;
}

.options{
    display: flex;
    justify-content: space-around;
}

.btn{
    margin: 5px;
}