<header class="p-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a [routerLink]="['/dashboard-admins']" routerLinkActive="router-link-active"
                    class="nav-link px-2 link-body-emphasis"> Usuarios Existentes </a></li>
                    <li><a [routerLink]="['/dashboard-admins']" routerLinkActive="router-link-active"
                        class="nav-link px-2 link-body-emphasis"> Ver detalles Usuario </a></li>
            </ul>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../../assets/img/banco.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><a class="dropdown-item" href="#">Configuracion</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<body>
    <div class="wrapper">
        <!-- Lista de usuarios -->
        <div class="container-fluid pb-4">
            <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
        
                <div class="bg-body-tertiary border rounded-3">
                  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white rounded-3"  *ngFor="let usuario of usuarios">
                    <a href="/"
                      class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                      <svg class="bi me-2" width="30" height="24">
                        <use xlink:href="#bootstrap" />
                      </svg>
                      <span class="fs-5 fw-semibold">Información del Usuario</span>
                    </a>
                    <div class="list-group list-group-flush border-bottom scrollarea">
        
                      <div href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <p><strong class="mb-1">Nombre: </strong> {{usuario.nombre}}</p>
                        </div>
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <p><strong class="mb-1">Rol: </strong> {{usuario.rol}}</p>
                        </div>
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <p><strong class="mb-1">DPI: </strong> {{usuario.identificador}}</p>
                        </div>
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <p><strong class="mb-1">Fecha de nacimiento: </strong> {{usuario.fecha_nacimiento}}</p>
                        </div>
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <p><strong class="mb-1">Sexo: </strong> {{usuario.sexo}}</p>
                        </div>
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <p><strong class="mb-1">Dirección: </strong> {{usuario.direccion}}</p>
                        </div>
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <p><strong class="mb-1">Telefono: </strong> {{usuario.telefono}}</p>
                        </div>
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <p><strong class="mb-1">Estado Civil: </strong> {{usuario.estado_civil}}</p>
                        </div> 
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <p><strong class="mb-1">Correo: </strong> {{usuario.correo}}</p>
                        </div> 
                      </div>
        
                    </div>
                  </div>
                </div>
        
        
                <div class="bg-body-tertiary border rounded-3">
                  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white rounded-3">
                    <a href="/"
                      class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                      <svg class="bi me-2" width="30" height="24">
                        <use xlink:href="#bootstrap" />
                      </svg>
                      <span class="fs-5 fw-semibold">Cuentas Bancarias</span>
                    </a>
                    <div class="list-group list-group-flush border-bottom scrollarea">
        
                      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                          <h2><strong class="mb-1">Cuenta Monetaria - 43902</strong></h2>
                          <h1 class="text-muted">Q35,768.90</h1>
                        </div>
                        <div class="d-flex w-100 align-items-center justify-content-between">
                          <div class="col-10 mb-1 small">Mayra Celeste Batres López
                          </div>
                          <small class="text-muted"><span>Saldo Disponible</span></small>
                        </div>
                      </a>

                      <div class="options">
                        <button class="btn btn-info">Depositar</button><button class="btn btn-info">Editar</button><button class="btn btn-info">Eliminar</button>
                      </div>
        
                    </div>


                    
                  </div>
                  <br><br><br>
                </div>
        
        
              </div>
        </div>
    </div>
</body>
